@font-face {
    font-family: 'Poppins'; /* Nombre de la fuente */
    src: url('../Poppins/Poppins-Medium.ttf'); /* URL de Google Fonts */
    /* Otras propiedades opcionales, como font-weight y font-style */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 95%;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

button {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.btn_primario {
    background: #0C7FC0;
    color: #fff;
}

.cuerpo {
    background-image: url(../img/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 117, 33, 0.582);
    border-radius: 10px;
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #007521;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #007521;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #007521;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}

/******************** ESTILOS DE HOME ***************************/

.cont_home {   
    height: 100vh;
    display: flex;
    flex-direction: column; /* Establece la dirección de flexión a "column" */
    align-items: center; /* Centra horizontalmente los elementos en el contenedor */
    justify-content: center; /* Centra verticalmente los elementos en el contenedor */
}

.cont_title {
    width: 100%;
}

.cont_title .title {
    font-size: 6em;
    text-align: center;
    color: #007521;
}

.cont_icons {
    display: flex;
    align-items: center;
}

.cont_icons i {
    font-size: 3.5em;
    margin: 15px;
}

.cont_icons i:nth-child(1),
.cont_icons i:nth-child(3),
.cont_icons i:nth-child(5) {
    margin-top: 0px;
}

.cont_icons i:nth-child(2), 
.cont_icons i:nth-child(4) {
    /* Puedes ajustar el margen inferior de este ícono según tus necesidades */
    margin-bottom: 100px;
}

.cont_icons i:nth-child(1) {
    color: rgb(4, 133, 0)
}

.cont_icons i:nth-child(2) {
    color: rgb(223, 226, 27)
}

.cont_icons i:nth-child(3) {
    color: rgb(9, 145, 199)
}

.cont_icons i:nth-child(4) {
    color: rgb(161, 12, 12)
}

.cont_icons i:nth-child(5) {
    color: rgb(8, 66, 13)
}

.cont_menu {
    width: 95%;
    margin: 0px auto;
    height: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #007521;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cont_menu .enlaces a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    margin-right: 10px;
    padding: 10px;
    transition: all .7s;
}

.cont_menu .enlaces a:hover {
    color:#333;
}

.cont_menu .enlaces .activo {
    background-color: #fff;
    color: #005f03;
    border-radius: 5px;
}

.cont_menu .logo i,
.cont_menu .logo h2 {
    color: #fff;
    display: inline-block;
    
}

.cont_menu .logo i {
    font-size: 2.2em;
    margin-left: 15px;
    margin-right: 10px;
}

.cont_menu .logo h2 {
    font-size: 1.5em;
    margin: 0px;
}

.cont_btns a button {
    background-color: #00000000;
    border: none;
}

.cont_btns a button i {
    font-size: 2.2em;
    color: #fff;
    margin-right: 20px;
}
/* ESTILOS DE TARGETAS  **************************************************************/

.container__slider{
    max-width: 500px;
    height: 350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

input[type=radio]{
    display: none;
}

.container{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    position: relative;
    width: 100%;
    height: 100%;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;    
    left: 0;
    right: 0;
    margin: auto;    
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card a {
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;
    color: #333;
}

img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}


#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
    transform: translateX(-60%) scale(0.8);
    opacity: 0.8;
    z-index: 0;
}

#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3{
    transform: translateX(60%) scale(0.8);
    opacity: 0.8;
    z-index: 0;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
}


/* FIN DE ESTILOS DE TARDEJTAS  */


/* ESTILOS DE TARJETAS DE CONTRIBUYENTES */
.title-h2 {
    text-align: center;
}

.cont_cards {
    width: 1100px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.card_c {
    width: 30%;
    margin: 15px auto;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

.card_c .icon {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_c .icon i {
    font-size: 3.5em;
    color: #4CAF50;
}
.card_c .info {
    width: 75%;    
    margin-left: 10px;
}

.cont_btns_card_c {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn_card_c {
    width: 50px;
    margin-right: 10px;
}

/***********************************************************************/

/* ESTILOS PARA COMBOS DE FORMULARIOS */

.tarjeta_comb {
    width: 85%;
    margin: 20px auto;
    
}

.tarjeta_comb .tc_cabezera {
    width: 100%;
    height: 60px;
    background-color: #292D32;
    display: flex;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tarjeta_comb .tc_cabezera i {
    color: #fff;
    font-size: 2.4em;
}

.tarjeta_comb .tc_cabezera i {
    margin-left: 15px;
    margin-bottom: 15px;
}

.tarjeta_comb .tc_cabezera h2 {
    color: #fff;
    margin-left: 15px;
}

.tarjeta_comb .tc_cuerpo {
    height: 400px;
    background-color: #484848;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* FIN DE ESTILOS DE HOME */